@model ValidacionTelefonica.Entities.ValidacionTelefonicaRegistrar
@{
  ViewBag.Title = "Registrar Validación Telefónica"; //Titulo de la pestaña
  ViewBag.HeaderIcon = "fa-cube";
  ViewBag.HeaderTitle = "Registrar";
  ViewBag.HeaderDescription = "Permite realizar el registro de una validación telefónica";
  //ViewBag.Header = false; // Si desea ocultar la cabecera
}

@* Toda referencia de estilos escribir dentro de la secccion "styles" *@
@section styles{
  @* Utilice el Metodo @Url.ContentArea("~/*") para obtener la url relativa del archivo *@
  <link href="@Url.ContentArea("~/Content/Site.css")" rel="stylesheet" />
}

@using (Html.BeginForm("Registrar", "ValidacionTelefonica", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
  @Html.AntiForgeryToken()
  @* Button Bar *@
  <nav class="navbar-button">

    <div class="nav">
      <div class="btn-group">
        <button type="submit" class="btn btn-default navbar-btn"><i class="fa fa-floppy-o"></i> Guardar</button>
      </div>
    </div>

    <div class="nav navbar-button-right">
      <div class="btn-group">
        <a href="@Url.Action("Index", "ValidacionTelefonica")" class="btn btn-default navbar-btn" data-tooltip="" title="" data-original-title="Atrás"><i class="fa fa-arrow-circle-left"></i></a>
        <a href="@Request.RawUrl" class="btn btn-default navbar-btn" data-tooltip="" title="Recargar"><i class="fa fa-refresh"></i></a>
      </div>
    </div>
  </nav>

  <div>
    @* TODO CONTENIDO HTML AQUÍ *@

    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">Registro de Validación Telefónica </div>

        <div class="panel-body">
          <div class="form-group">

            <div class="col-md-3">
              @Html.LabelFor(model => model.FuerzaVenta, new { @class = "form-label" })
              <span class="text-danger">*</span>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-address-book"></i></span>

                @Html.DropDownListFor(model => model.FuerzaVenta, ViewBag.FuerzaVenta as SelectList, "[Seleccione un valor]", htmlAttributes: new { @class = "form-control", id = "cboNombreFuerzaVenta" })
                @Html.HiddenFor(x => x.FuerzaVenta)
                @Html.HiddenFor(x => x.NombreFuerzaVenta)
              </div>
              @Html.ValidationMessageFor(model => model.FuerzaVenta, null, new { @class = "text-danger" })

            </div>

            <div class="col-md-3">
              @Html.LabelFor(model => model.FolioUnico, new { @class = "form-label" })
              <span class="text-danger"></span>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-commenting-o"></i></span>
                @Html.TextBoxFor(model => model.FolioUnico, new { @class = "form-control", Type = "number", placeholder = "", Style = "max-width: none" })
              </div>
              @Html.ValidationMessageFor(model => model.FolioUnico, null, new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
              @Html.LabelFor(model => model.ClaseCreditoID, new { @class = "form-label" })
              <span class="text-danger">*</span>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-address-book"></i></span>

                @Html.DropDownListFor(model => model.ClaseCreditoID, ViewBag.ClaseCredito as SelectList, "[Seleccione un valor]", htmlAttributes: new { @class = "form-control" })

              </div>
              @Html.ValidationMessageFor(model => model.ClaseCreditoID, null, new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
              @Html.LabelFor(model => model.ClasificacionClienteID, new { @class = "form-label" })
              <span class="text-danger">*</span>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-address-book"></i></span>

                @Html.DropDownListFor(model => model.ClasificacionClienteID, ViewBag.ClasificacionCliente as SelectList, "[Seleccione un valor]", htmlAttributes: new { @class = "form-control" })

              </div>
              @Html.ValidationMessageFor(model => model.ClasificacionClienteID, null, new { @class = "text-danger" })
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">Datos de Solicitud</div>

        <div class="panel-body">
          <div class="form-group">
            <div class="col-md-3">
              @Html.LabelFor(model => model.TipoSolicitudID, new { @class = "form-label" })
              <span class="text-danger">*</span>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-address-book"></i></span>

                @Html.DropDownListFor(model => model.TipoSolicitudID, ViewBag.TipoSolicitud as SelectList, "[Seleccione un valor]", htmlAttributes: new { @class = "form-control" })

              </div>
              @Html.ValidationMessageFor(model => model.TipoSolicitudID, null, new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
              @Html.LabelFor(model => model.PlataformaID, new { @class = "form-label" })
              <span class="text-danger">*</span>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-address-book"></i></span>

                @Html.DropDownListFor(model => model.PlataformaID, ViewBag.Plataforma as SelectList, "[Seleccione un valor]", htmlAttributes: new { @class = "form-control" })

              </div>
              @Html.ValidationMessageFor(model => model.PlataformaID, null, new { @class = "text-danger" })
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
}
@* Contenedor para cargar las pantallas modales *@
<div class="modal fade" id="ModalRegistrar" tabindex="-1" role="dialog"></div>

@* Toda referencia de Scripts escribir dentro de la section "scripts" *@
@section scripts{
  @* Si realiza una referencia de un script el Metodo @Url.ContentArea("~/") ejem: <script type="text/javascript" src="@Url.ContentArea("~/Scripts/...")"></script> *@

  @Scripts.Render("~/bundles/jqueryval")
  @Scripts.Render("~/bundles/jqueryajax")
  @Scripts.Render("~/bundles/modernizr")

  <script>
    $(function () {
      $("form").submit(function () {

        var lFuerzaVenta = $("#cboNombreFuerzaVenta option:selected").text();
        $("#NombreFuerzaVenta").val(lFuerzaVenta);

      });
    });
  </script>

}

